venv/
.venv/
env/
*.env
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
/migrations/*
static/
media/
*.log
*.bak
*.swp
.DS_Store
*.sublime-workspace
*.sublime-project
.coverage
.tox/
.nox/
.hypothesis/
.pytest_cache/
.coverage.*
